# dependencies
node_modules
**/node_modules

# testing
coverage
reports
.nyc_output

# production
build
dist
.next

# misc
.env
.idea
*.iml
*.log
*.bak
.DS_Store

# certs
certs
private

.vscode/settings.json
